[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-yandex-weather = {editable = true, path = "."}

[dev-packages]
requests = "*"
aiohttp = "*"
plumbum = "*"

[requires]
python_version = "3.6"
