[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yandex_weather_api = {editable = true, path = "."}

[dev-packages]
requests = "==2.20.1"
aiohttp = "==3.4.4"
plumbum = "==1.6.7"
"flake8" = "==3.6.0"
pydocstyle = "==3.0.0"
pylint = "==2.2.2"
mypy = "==0.641"
pytest = "==4.0.1"
pytest-cov = "==2.6.0"

[requires]
python_version = "3.6"
